@using BTCPayServer.Plugins.PodServer.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string

<nav id="SectionNav" class="w-100 mb-0">
    <div class="nav">
        <a id="SectionNav-@PodServerNavPages.Podcast.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.Podcast)" asp-page="/Podcasts/Podcast" asp-route-podcastId="@Model">General</a>
        <a id="SectionNav-@PodServerNavPages.EditPodcast.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.EditPodcast)" asp-page="/Podcasts/Edit" asp-route-podcastId="@Model" permission="@PodServerPolicies.CanManagePodcast">Settings</a>
        <a id="SectionNav-@PodServerNavPages.People.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.People)" asp-page="/People/Index" asp-route-podcastId="@Model">People</a>
        <a id="SectionNav-@PodServerNavPages.Contributions.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.Contributions)" asp-page="/Contributions/Index" asp-route-podcastId="@Model">Contributions</a>
        <a id="SectionNav-@PodServerNavPages.Seasons.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.Seasons)" asp-page="/Seasons/Index" asp-route-podcastId="@Model">Seasons</a>
        <a id="SectionNav-@PodServerNavPages.Editors.ToString()" class="nav-link @ViewData.ActivePageClass(PodServerNavPages.Editors)" asp-page="/Podcasts/Editors" asp-route-podcastId="@Model" permission="@PodServerPolicies.CanManagePodcast">Editors</a>
    </div>
</nav>

