@using BTCPayServer.Plugins.PodServer.Services.Podcasts
@using Microsoft.AspNetCore.Identity
@using BTCPayServer.Data
@using BTCPayServer.Services.Apps
@inject AppService AppService;
@inject PodcastRepository PodcastRepository;
@inject UserManager<ApplicationUser> UserManager;
@{
	var store = Context.GetStoreData();
    var storeId = store?.Id;
    var userId = UserManager.GetUserId(User);
	var appType = PodServerApp.AppType;
    var podcasts = (await PodcastRepository.GetPodcasts(new PodcastsQuery
    {
        UserId = userId
    })).ToList();
    var appsWithoutPodcasts = (await AppService.GetApps(PodServerApp.AppType))
        .Where(appData =>
        {
            var settings = appData.GetSettings<PodServerSettings>();
            return string.IsNullOrEmpty(settings.PodcastId) || podcasts.All(p => p.PodcastId != settings.PodcastId);
        });
}
<li class="nav-item">
    @if (string.IsNullOrEmpty(storeId))
    {
        <a href="~/plugins/podserver" class="nav-link @ViewData.IsActivePage(PodServerNavPages.Podcasts)" id="Nav-PodServer">
            <svg role="img" class="icon icon-podserver" viewBox="0 0 24 24" style="--icon-size:18px;margin:0 6px 0 4px;">
                <g fill="currentColor" fill-rule="nonzero"><circle cx="12.001" cy="12.005" r="2"/><path d="M14.001 17.585a1 1 0 0 1-.4-1.92 4 4 0 1 0-3.2 0 1 1 0 1 1-.8 1.83 6 6 0 1 1 4.8 0 1 1 0 0 1-.4.09Z"/><path d="M14.001 21.775a1.006 1.006 0 0 1-.22-2 8 8 0 1 0-3.56 0 1 1 0 0 1 .78 1.23 1 1 0 0 1-1.2.75 10 10 0 1 1 12.2-9.75 9.93 9.93 0 0 1-7.78 9.74.83.83 0 0 1-.22.03Z"/></g>
            </svg>
            <span>PodServer</span>
        </a>
    }
    else
    {
        <a asp-action="CreateApp" asp-controller="UIApps" asp-route-storeId="@storeId" asp-route-appType="@appType" class="nav-link @ViewData.IsActivePage(PodServerNavPages.Podcasts)" id="Nav-PodServer">
            <svg role="img" class="icon icon-podserver" viewBox="0 0 24 24" style="--icon-size:18px;margin:0 6px 0 4px;">
                <g fill="currentColor" fill-rule="nonzero"><circle cx="12.001" cy="12.005" r="2"/><path d="M14.001 17.585a1 1 0 0 1-.4-1.92 4 4 0 1 0-3.2 0 1 1 0 1 1-.8 1.83 6 6 0 1 1 4.8 0 1 1 0 0 1-.4.09Z"/><path d="M14.001 21.775a1.006 1.006 0 0 1-.22-2 8 8 0 1 0-3.56 0 1 1 0 0 1 .78 1.23 1 1 0 0 1-1.2.75 10 10 0 1 1 12.2-9.75 9.93 9.93 0 0 1-7.78 9.74.83.83 0 0 1-.22.03Z"/></g>
            </svg>
            <span>PodServer</span>
        </a>
    }
</li>
@foreach (var podcast in podcasts)
{
    <li class="nav-item nav-item-sub">
        <a href="~/plugins/podserver/podcasts/@podcast.PodcastId" class="nav-link @ViewData.IsActivePage(PodServerNavPages.Podcast, podcast.PodcastId) @ViewData.IsActivePage(PodServerNavPages.Episodes, podcast.PodcastId) @ViewData.IsActivePage(PodServerNavPages.People, podcast.PodcastId) @ViewData.IsActivePage(PodServerNavPages.Seasons, podcast.PodcastId)" id="Nav-PodServer-Podcast-@podcast.PodcastId">
            <span>@podcast.Title</span>
        </a>
    </li>
}
@foreach (var appData in appsWithoutPodcasts)
{
    <li class="nav-item nav-item-sub">
        <a href="~/plugins/podserver/podcasts/create?appId=@appData.Id" class="nav-link @ViewData.IsActivePage(PodServerNavPages.Podcast, appData.Id)" id="Nav-PodServer-Podcast-@appData.Id">
            <span>@appData.Name</span>
        </a>
    </li>
}

