@page "/plugins/podserver/podcasts/{podcastId}/seasons"
@using BTCPayServer.Plugins.PodServer.Authentication
@model BTCPayServer.Plugins.PodServer.Pages.Seasons.IndexModel

@{
    ViewData.SetActivePage(PodServerNavPages.Seasons, Model.Podcast.Title, Model.Podcast.PodcastId);
}

<div class="sticky-header">
    <h2>@ViewData["Title"]</h2>
    <a asp-page="./Edit" asp-route-podcastId="@Model.Podcast.PodcastId" class="btn btn-primary mt-3 mt-sm-0" role="button" id="AddSeason" permission="@PodServerPolicies.CanManageEpisodes">Add a season</a>
    <partial name="_PodcastSettingsNav" model="Model.Podcast.PodcastId"/>
</div>

<partial name="_StatusMessage" />

<h3 class="mb-3">Seasons</h3>

@if (Model.Seasons.Any())
{
    <table id="PodcastSeasons" class="table table-hover">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th class="text-end" permission="@PodServerPolicies.CanManageEpisodes">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var season in Model.Seasons)
        {
            <tr>
                <td>
                    @season.Number
                </td>
                <td>
                    @season.Name
                </td>
                <td class="text-end" permission="@PodServerPolicies.CanManageEpisodes">
                    <a asp-page="./Edit" asp-route-podcastId="@season.PodcastId" asp-route-seasonId="@season.SeasonId" class="podcast-edit">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p id="PodcastSeasons" class="text-secondary">There are no seasons yet.</p>
}
