@page "/plugins/podserver/podcasts/{podcastId}/people/{personId}/edit"
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Plugins.PodServer.Authentication
@using BTCPayServer.Plugins.PodServer.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Plugins.PodServer.Pages.People.EditModel
@inject IFileService FileService

@{
    ViewData.SetActivePage(PodServerNavPages.People, $"Edit {Model.Person.Name}", Model.Person.PodcastId);
}

<form method="post" enctype="multipart/form-data">
    <div class="sticky-header">
        <h2>
            <a asp-page="/Podcasts/Podcast" asp-route-podcastId="@Model.Person.PodcastId" class="unobtrusive-link">@ViewData["Title"]</a>
        </h2>
        <button type="submit" class="btn btn-primary" id="Save">Save</button>
        <partial name="_PodcastSettingsNav" model="Model.Person.PodcastId" />
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            }
            <div class="form-group">
                <label asp-for="Person.Name" class="form-label" data-required></label>
                <input asp-for="Person.Name" class="form-control" required/>
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Url" class="form-label"></label>
                <input asp-for="Person.Url" class="form-control"/>
                <span asp-validation-for="Person.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-label">Image</div>
                @if (!string.IsNullOrEmpty(Model.Person.ImageFileId))
                {
                    <img src="@(await FileService.GetFileUrl(Request.GetAbsoluteRootUri(), Model.Person.ImageFileId))" alt="@Model.Person.Name" class="d-block my-3 w-150px"/>
                }
                <label for="ImageFile" class="btn btn-secondary w-150px">@(string.IsNullOrEmpty(Model.Person.ImageFileId) ? "Upload" : "Update")</label>
                <input id="ImageFile" name="ImageFile" type="file" class="form-control d-none">
            </div>

            <h3 class="mt-5 mb-3">Value information</h3>

            <input asp-for="Person.ValueRecipient.Type" value="@ValueRecipientType.Node" type="hidden">
            <div class="form-group mb-0">
                <label asp-for="Person.ValueRecipient.Address" class="form-label" data-required>Node PubKey</label>
                <input asp-for="Person.ValueRecipient.Address" class="form-control">
                <span asp-validation-for="Person.ValueRecipient.Address" class="text-danger"></span>
            </div>

            @*<div id="ValueTypeTablist" class="nav btcpay-pills align-items-center justify-content-start mt-4 mb-3" role="tablist">
                <input asp-for="Person.ValueRecipient.Type" value="@ValueRecipientType.Node" type="radio" id="ValueRecipientType-@ValueRecipientType.Node" data-bs-toggle="pill" data-bs-target="#ValueRecipientNode" role="tab" aria-controls="ValueRecipientNode" aria-selected="@(Model.Person.ValueRecipient.Type == ValueRecipientType.Node ? "true" : "false")">
                <label asp-for="Person.ValueRecipient.Type" for="@($"ValueRecipientType-{ValueRecipientType.Node}")">Own node</label>

                <input asp-for="Person.ValueRecipient.Type" value="@ValueRecipientType.LNbank" type="radio" id="ValueRecipientType-@ValueRecipientType.LNbank" data-bs-toggle="pill" data-bs-target="#ValueRecipientLNbank" role="tab" aria-controls="ValueRecipientLNbank" aria-selected="@(Model.Person.ValueRecipient.Type == ValueRecipientType.LNbank ? "true" : "false")">
                <label asp-for="Person.ValueRecipient.Type" for="@($"ValueRecipientType-{ValueRecipientType.LNbank}")">LNbank wallet</label>

                <vc:ui-extension-point location="ln-payment-method-setup-tabhead" model="@Model"/>
            </div>
            <div id="ValueRecipientTypeTabs" class="tab-content text-start">
                <div id="ValueRecipientNode" class="pt-3 tab-pane fade @(Model.Person.ValueRecipient.Type == ValueRecipientType.Node ? "show active" : "")" role="tabpanel" aria-labelledby="ValueRecipientType-@ValueRecipientType.Node">
                    <div class="form-group mb-0">
                        <label asp-for="Person.ValueRecipient.Address" class="form-label" data-required></label>
                        <input asp-for="Person.ValueRecipient.Address" class="form-control">
                        <span asp-validation-for="Person.ValueRecipient.Address" class="text-danger"></span>
                    </div>
                </div>
                <div id="ValueRecipientLNbank" class="pt-3 tab-pane fade @(Model.Person.ValueRecipient.Type == ValueRecipientType.LNbank ? "show active" : "")" role="tabpanel" aria-labelledby="ValueRecipientType-@ValueRecipientType.LNbank">
                    <div class="form-group mb-0">
                        <label asp-for="Person.ValueRecipient.CustomValue" class="form-label" data-required>LNbank Wallet ID</label>
                        <input asp-for="Person.ValueRecipient.CustomValue" class="form-control">
                        <span asp-validation-for="Person.ValueRecipient.CustomValue" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <script>
                const canUseLNbank = document.getElementById("Nav-LNbank") != null;
                if (!canUseLNbank) {
                    document.getElementById("ValueRecipientType-LNbank").setAttribute("disabled", true);
                }
            </script>*@
        </div>
    </div>
</form>

<div permission="@PodServerPolicies.CanManagePodcast">
    <h3 class="mt-5 mb-4">Additional Actions</h3>
    <div class="d-flex gap-3">
        <a id="DeletePerson" class="btn btn-outline-danger" asp-page="./Delete" asp-route-podcastId="@Model.Person.PodcastId" asp-route-personId="@Model.Person.PersonId" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="The person <strong>@Model.Person.Name</strong> will be removed." data-confirm-input="REMOVE">Remove this person</a>
    </div>
</div>

<partial name="_Confirm" model="@(new ConfirmModel("Remove person", $"The person \"{Model.Person.Name}\" will be removed. Are you sure?", "Remove"))" />
